{% extends 'base.html.twig' %}

{% block body %}
    <div class="callout large">
        <div class="row column text-center">
            <h1>Application budget</h1>
            <p class="lead">L'application pour suivre son budget</p>
            <a class="button large" href="{{ path('budget_reporting') }}">Reporting</a>
            <a class="button large hollow" href="{{ path('budget_list') }}">Liste des opérations</a>
            <a class="button large hollow" href="{{ path('import_homepage') }}">Importation</a>
        </div>
    </div>
{% endblock %}
